<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="spec">
            <h2><span jhiTranslate="stockManagementApp.spec.detail.title">Spec</span> {{ spec.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="stockManagementApp.spec.specName">Spec Name</span></dt>
                <dd>
                    <span>{{ spec.specName }}</span>
                </dd>
                <dt><span jhiTranslate="stockManagementApp.spec.specDesc">Spec Desc</span></dt>
                <dd>
                    <span>{{ spec.specDesc }}</span>
                </dd>
                <dt><span jhiTranslate="stockManagementApp.spec.verId">Ver Id</span></dt>
                <dd>
                    <span>{{ spec.verId }}</span>
                </dd>
                <dt><span jhiTranslate="stockManagementApp.spec.attrId">Attr Id</span></dt>
                <dd>
                    <div *ngIf="spec.attrId">
                        <a [routerLink]="['/attr', spec.attrId?.id, 'view']">{{ spec.attrId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spec', spec.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
