<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="attr">
            <h2><span jhiTranslate="stockManagementApp.attr.detail.title">Attr</span> {{ attr.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="stockManagementApp.attr.attrName">Attr Name</span></dt>
                <dd>
                    <span>{{ attr.attrName }}</span>
                </dd>
                <dt><span jhiTranslate="stockManagementApp.attr.attrDesc">Attr Desc</span></dt>
                <dd>
                    <span>{{ attr.attrDesc }}</span>
                </dd>
                <dt><span jhiTranslate="stockManagementApp.attr.attrValues">Attr Values</span></dt>
                <dd>
                    <span *ngFor="let attrValues of attr.attrValues; let last = last">
                        <a [routerLink]="['/attr-value', attrValues?.id, 'view']">{{ attrValues.attrValue }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/attr', attr.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
