<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-attr-value-heading" jhiTranslate="stockManagementApp.attrValue.home.createOrEditLabel">Create or edit a Attr Value</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stockManagementApp.attrValue.attrValue" for="field_attrValue">Attr Value</label>
                    <input type="text" class="form-control" name="attrValue" id="field_attrValue"
                           formControlName="attrValue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stockManagementApp.attrValue.unitOfMeasure" for="field_unitOfMeasure">Unit Of Measure</label>
                    <input type="text" class="form-control" name="unitOfMeasure" id="field_unitOfMeasure"
                           formControlName="unitOfMeasure"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stockManagementApp.attrValue.valueFrom" for="field_valueFrom">Value From</label>
                    <input type="text" class="form-control" name="valueFrom" id="field_valueFrom"
                           formControlName="valueFrom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stockManagementApp.attrValue.valueTo" for="field_valueTo">Value To</label>
                    <input type="text" class="form-control" name="valueTo" id="field_valueTo"
                           formControlName="valueTo"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
